@model BookingSystemFinalProject.Models.Booking

@{
    ViewBag.Title = "Create";
    var Menu = ViewBag.restaurant;
    Layout = "~/Views/Shared/_BookingSystem.cshtml";


}

<head>
    <link rel="stylesheet" type="text/css" href="../Content/booking-create.css">
</head>

<div>
  

    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</div>

<h2>Create</h2>


<div class="container">

    <div class="row ">

        <div class="col-xs-2 ">
            <select>
                <option value="1">1 person</option>
                <option value="2">2 people</option>
                <option value="3">3 people</option>
                <option value="4">4 people</option>
                <option value="5">5 people</option>
                <option value="6">6 people </option>
                <option value="7">7 people</option>
                <option value="8">8 people</option>
                <option value="9">9 people</option>

            </select>
        </div>
        <div class="col-xs-2 ">
            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />

        </div>
        <div class="col-xs-2">
            <input class="form-control"  placeholder="17:30" type="text" />

        </div>
        <div class="col-xs-2">

            <select>

                @foreach (var item in Menu)
                {
                    <option id="resturant-name" value="@item" class="form-control">@item</option>
                }

            </select>

        </div>
        <div class="col-xs-2">
            <button>Find a table</button>
        </div>
    </div>

</div>



     
                       
                          
                

        <script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
        </script>

     





            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
